@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

html {
	box-sizing: border-box;
	background: #000;
	font-family: "helvetica neue";
	font-size: 20px;
	font-weight: 200;
}

body {
	margin: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.panels {
	min-height: 100vh;
	overflow: hidden;
	display: flex;

	.panel {
		background: #000;
		box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
		color: #fff;
		text-align: center;
		align-items: center;
		transition:
			font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
			flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
			background 0.2s;
		font-size: 20px;
		background-size: cover;
		background-position: center;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&.open {
			flex: 5;
			font-size: 40px;
		}

		p {
			text-transform: uppercase;
			font-family: "Amatic SC", cursive;
			text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
			font-size: 2em;

			&:nth-child(2) {
				font-size: 4em;
			}
		}

		& > * {
			margin: 0;
			width: 100%;
			flex: 1 0 auto;
			@include transition(transform 0.5s);
			display: flex;
			justify-content: center;
			align-items: center;

			&:first-child { transform: translateY(-100%); }
			&:last-child { transform: translateY(100%); }
		}

		&.open-active > *:first-child { transform: translateY(0); }
		&.open-active > *:last-child { transform: translateY(0); }
	}

	.panel_1 { background-image: url(../img/pexels-photo.jpg); }
	.panel_2 { background-image: url(../img/sunset_261-wallpaper-1366x768.jpg); }
	.panel_3 { background-image: url(../img/breathtaking_view-wallpaper-1366x768.jpg); }
	.panel_4 { background-image: url(../img/a_wooden_house_forest-wallpaper-1366x768.jpg); }
	.panel_5 { background-image: url(../img/sky-earth-space-working.jpg); }
}