html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	min-height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../img/91e01353fdc17cb746638511429db587.jpg);
	background-size: cover;
}

.voiceinator {
	width: 350px;
	background: #fff;
	border-radius: 7px;
	box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.2);

	h1,
	button {
		font-family: 'Pacifico', cursive;
	}

	h1 {
		padding: 20px;
		text-align: center;
		background: #EBD600;
		border-radius: 7px 7px 0 0;
		box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	}

	label {
		font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
		font-size: 13px;
	}

	#voices {
		border: none;
		background: #EBEBEB;
		font-size: 15px;
	}

	#voices,
	label,
	input,
	textarea {
		width: 90%;
		margin: 10px 5%;
	}

	textarea {
		height: 150px;
		background: #EBEBEB;
		border: none;
		border-radius: 5px;
		padding: 5px;
		font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
		font-size: 14px;
		resize: none;
		outline: none;
	}

	button {
		position: relative;
		padding: 10px 0;
		width: 43.4%;
		background: #EBD600;
		border: none;
		margin: 0 1% 15px 5%;
		cursor: pointer;
		box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.05);
		outline: none;

		&:last-child {
			margin: 0  5% 15px 1%;
		}

		&:active {
			top: 1px;
		}
	}
}